@font-face {
    font-family: "Montserrat";
    src: url("../fonts/MontserratRegular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: "Montserrat";
    src: url("../fonts/MontserratBold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: "Montserrat";
    src: url("../fonts/MontserratMedium.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    }
    